
<h2 mat-dialog-title>{{tituloAccion}} Productos</h2>

<mat-dialog-content>
    <form [formGroup]="formularioProductos">
        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Mostrado</mat-label>
                    <input matInput auto="of" formControlName="displayName">
                    <mat-icon matSuffix>fit_screen</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Marca</mat-label>
                    <input matInput auto="of" formControlName="slMarca">
                    <mat-icon matSuffix>check circle</mat-icon>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Código Difare</mat-label>
                    <input matInput auto="of" formControlName="supplierDifareCode">
                    <mat-icon matSuffix>tag</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>PVF</mat-label>
                    <input matInput auto="of" formControlName="listPrice">
                    <mat-icon matSuffix>request_quote</mat-icon>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>PVP</mat-label>
                    <input matInput auto="of" formControlName="slProductPvp">
                    <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input matInput auto="of" formControlName="virtualAvailable" type="number">
                    <mat-icon matSuffix>inventory</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Impuestos</mat-label>
                    <input matInput auto="of" formControlName="taxesId">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align ="end">
    <button mat-raised-button mat-dialog-close color="warn" >Volver</button>
    <button mat-raised-button color="primary" 
    [disabled]="formularioProductos.invalid"
    (click)="guardarEditar_Productos()"
    >{{botonAccion}}</button>
</mat-dialog-actions>
